<app-title-menu></app-title-menu>

<div class="articles">
    <div class="articles_main">
        <app-big-card cardPhoto="https://allthecars.files.wordpress.com/2012/11/nissan-gt-r-2013-01.jpg"
            cardTitle="NEW GTR" cardDescription="NEW CAR NISSAN" Id="1"></app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card cardPhoto="https://upload.wikimedia.org/wikipedia/commons/c/cb/F40_Ferrari_20090509.jpg"
            cardTitle="NEW CAR FERRARI" Id="2"></app-small-card>
        <app-small-card
            cardPhoto="https://cdn.autopapo.com.br/box/uploads/2022/06/20170120/bmw-m8_competition_gran_coupe-2023-1024-01-732x488.jpg"
            cardTitle="NEW CAR BMW" Id="3"></app-small-card>
            <app-small-card
            cardPhoto="https://hips.hearstapps.com/hmg-prod/images/787b-mazda-64877a534d63e.jpg?crop=1xw:0.8622080088987765xh;center,top&resize=1200:*"
            cardTitle="NEW CAR MAZDA " Id="4"></app-small-card>

    </div>
</div>