<div class="container-menu-bar">
    <ul>
        <div class="container-menu-bar-home">
            <li><a [routerLink]="''">HOME</a></li>
        </div>
        <span><img src="https://cdn-icons-png.flaticon.com/512/174/174857.png" alt=""></span>
        <li><a href="#">
                Linkedin
            </a></li>
            <span><img src="https://joshuapenalba.files.wordpress.com/2014/12/github-icon.png" alt=""></span>
        <li><a href="#">
                Github
            </a></li>
            <span><img src="https://cdn-icons-png.flaticon.com/512/4923/4923005.png" alt=""></span>
        <li>
            <a href="#">
                Instagram
            </a>
        </li>
    </ul>
</div>

<div class="container-menu-bar-content">
    <ul>
        
    </ul>
</div>